<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
</head>

<body>
    {{ define "content" }}
    <h2>All Users List</h2>

    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Username</th>
                <th>Phone</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            {{range .}}
            <tr>
                <td>{{.Id}}</td>
                <td>{{.Name}}</td>
                <td>{{.Email}}</td>
                <td>{{.Username}}</td>
                <td>{{.Phone}}</td>
                <td>
                    <form action="/delete/user/{{.Id}}" method="POST" style="display:inline;">
                        <button type="submit" onclick="return confirm('Want to delete this user?');">Delete</button>
                    </form>
                    <form action="/update/user/{{.Id}}" method="POST" style="display:inline;">
                        <button type="submit" onclick="return confirm('Want to edit this user?');">
                            Edit
                        </button>
                    </form>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
    {{ end }}
</body>

</html>