<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body>
    <form action="http://localhost:8080/login" method="post">
        <h2>Login here...</h2>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" ><br><br>

        <label for="password">Password</label><br>
        <input type="password" id="password" name="password"><br><br>

        <button type="submit" name="action" value="login">Login</button>
        <a href="http://localhost:8080/add_user" target="_blank">Register</a>

    </form>
</body>

</html>